name: 'Daftar Quran'

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "main" ]

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  daftar-source:
    name: 'Preparing layer daftar source'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      #    - name: Test
      #      uses: actions/setup-python@v4
      #      with:
      #        python-version: '3.10'
      #      run: make test

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install virtual env Python
        run: python3 -m venv venv

      - name: Install dependencies
        run: make install

      - name: Install zip
        uses: montudor/action-zip@v1

      - name: Packaging artifact
        run: cd lambdas/users && zip -r ../../${{github.sha}}.zip .

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-duration-seconds: 1200
          role-session-name: DaftarRunnerSession
          role-skip-session-tagging: true
      - name: Copy files to bucket
        run: |
          ls -al |
          aws s3 cp ${{github.sha}}.zip s3://daftar-dev-lambda-artifact-bucket/lambdas/users/${{github.sha}}.zip

      - name: Deploy
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.DISPATCH_TOKEN }}
          script: |
            const data = {"artifact_daftar_users": "lambdas/users/${{github.sha}}.zip"}
            const result = await github.rest.actions.createWorkflowDispatch({
              owner: 'daftar-quran',
              repo: 'terraform',
              ref: 'v1.0',
              workflow_id: 'terraform_service.yml',
              inputs: data
            })
            console.log(data);
